# <b> Exploratory Data Analysis of the NYPD Data Set</b>
Predicting LAW_CAT_CD

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv('/Users/annahauk/Desktop/CS513/NYPD_Arrest_Data__Year_to_Date__20241023.csv')
df

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
0,281240883,01/28/2024,105.0,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,Q,105,0,25-44,M,WHITE,1057545,207911,40.737043,-73.735514,POINT (-73.735514 40.737043)
1,282884120,02/27/2024,263.0,"ARSON 2,3,4",114.0,ARSON,PL 1501001,F,Q,107,71,45-64,M,WHITE,1037489,206343,40.732881,-73.807899,POINT (-73.807899 40.732881)
2,283137868,03/03/2024,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200502,F,B,48,0,25-44,M,BLACK,1013900,250835,40.855109,-73.892818,POINT (-73.892818 40.855109)
3,287001362,05/16/2024,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200512,F,S,121,0,25-44,M,WHITE,938928,168468,40.628967,-74.163275,POINT (-74.163275 40.628967)
4,287829614,06/02/2024,105.0,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,Q,100,0,25-44,M,BLACK,1039777,155013,40.591980,-73.800066,POINT (-73.800066 40.59198)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195442,293968561,09/27/2024,339.0,"LARCENY,PETIT FROM OPEN AREAS,",341.0,PETIT LARCENY,PL 1552500,M,Q,109,0,18-24,M,WHITE HISPANIC,1030206,215367,40.757691,-73.834115,POINT (-73.834115 40.757691)
195443,292591949,09/01/2024,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,M,34,0,25-44,M,WHITE HISPANIC,1004094,251444,40.856808,-73.928265,POINT (-73.92826482905474 40.85680819814297)
195444,294028627,09/29/2024,244.0,"BURGLARY,UNCLASSIFIED,UNKNOWN",107.0,BURGLARY,PL 1402501,F,M,23,0,45-64,M,WHITE,1000141,225685,40.786116,-73.942614,POINT (-73.942614 40.786116)
195445,292933189,09/08/2024,478.0,"THEFT OF SERVICES, UNCLASSIFIE",343.0,OTHER OFFENSES RELATED TO THEFT,PL 1651503,M,B,44,1,25-44,M,BLACK,1004749,240880,40.827812,-73.925929,POINT (-73.92592932593037 40.82781161940969)
195446,293706408,09/22/2024,792.0,CRIMINAL POSSESSION WEAPON,118.0,DANGEROUS WEAPONS,PL 265031B,F,B,46,0,18-24,M,BLACK HISPANIC,1011399,250642,40.854588,-73.901861,POINT (-73.90186084855698 40.85458750745756)

In [7]:
df.shape

(195447, 19)

## Type Formatting

In [22]:
# convert the 'ARREST_DATE' column to datetime format
df['ARREST_DATE'] = pd.to_datetime(df['ARREST_DATE'])

In [23]:
df.dtypes

ARREST_KEY                           int64
ARREST_DATE                 datetime64[ns]
PD_CD                              float64
PD_DESC                             object
KY_CD                              float64
OFNS_DESC                           object
LAW_CODE                            object
LAW_CAT_CD                          object
ARREST_BORO                         object
ARREST_PRECINCT                      int64
JURISDICTION_CODE                    int64
AGE_GROUP                           object
PERP_SEX                            object
PERP_RACE                           object
X_COORD_CD                           int64
Y_COORD_CD                           int64
Latitude                           float64
Longitude                          float64
New Georeferenced Column            object
dtype: object

In [42]:
df.head(20)

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
0,281240883,2024-01-28,105.0,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,Q,105,0,25-44,M,WHITE,1057545,207911,40.737043,-73.735514,POINT (-73.735514 40.737043)
1,282884120,2024-02-27,263.0,"ARSON 2,3,4",114.0,ARSON,PL 1501001,F,Q,107,71,45-64,M,WHITE,1037489,206343,40.732881,-73.807899,POINT (-73.807899 40.732881)
2,283137868,2024-03-03,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200502,F,B,48,0,25-44,M,BLACK,1013900,250835,40.855109,-73.892818,POINT (-73.892818 40.855109)
3,287001362,2024-05-16,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200512,F,S,121,0,25-44,M,WHITE,938928,168468,40.628967,-74.163275,POINT (-74.163275 40.628967)
4,287829614,2024-06-02,105.0,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,Q,100,0,25-44,M,BLACK,1039777,155013,40.591980,-73.800066,POINT (-73.800066 40.59198)
5,280513565,2024-01-14,153.0,RAPE 3,104.0,RAPE,PL 1302503,F,M,14,0,18-24,M,BLACK,985764,213806,40.753533,-73.994537,POINT (-73.9945368920152 40.7535327012632)
6,291269261,2024-08-07,157.0,RAPE 1,104.0,RAPE,PL 1303504,F,K,84,0,25-44,M,WHITE HISPANIC,988902,192641,40.695439,-73.983225,POINT (-73.9832253756043 40.6954388081238)
7,280286274,2024-01-10,105.0,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,K,70,0,25-44,M,BLACK,993690,172242,40.639436,-73.965983,POINT (-73.965983 40.639436)
9,279805425,2024-01-02,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200502,F,Q,100,0,25-44,M,BLACK,1035353,152906,40.586222,-73.816011,POINT (-73.816011 40.586222)
10,279884335,2024-01-03,153.0,RAPE 3,104.0,RAPE,PL 1302503,F,K,77,0,45-64,M,BLACK,1003509,185018,40.674496,-73.930571,POINT (-73.9305713255961 40.6744956865259)
11,281624983,2024-02-03,205.0,"TRESPASS 2, CRIMINAL",352.0,CRIMINAL TRESPASS,PL 1401501,M,M,32,2,45-64,M,BLACK,998674,235156,40.812114,-73.947891,POINT (-73.947891 40.812114)
12,283100203,2024-03-02,244.0,"BURGLARY,UNCLASSIFIED,UNKNOWN",107.0,BURGLARY,PL 1402501,F,B,43,0,25-44,M,WHITE HISPANIC,1020183,239282,40.823378,-73.870168,POINT (-73.870168 40.823378)
13,280118345,2024-01-07,379.0,"ROBBERY,GAS STATION",105.0,ROBBERY,PL 160153H,F,M,6,0,<18,M,BLACK,982777,204727,40.728605,-74.005315,POINT (-74.00531458413064 40.72860484802414)
14,279805419,2024-01-02,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,K,77,0,25-44,M,WHITE HISPANIC,1003509,185018,40.674496,-73.930571,POINT (-73.9305713255961 40.6744956865259)
15,293858977,2024-09-25,339.0,"LARCENY,PETIT FROM OPEN AREAS,",341.0,PETIT LARCENY,PL 1552500,M,Q,106,0,45-64,M,WHITE,1032502,186065,40.677251,-73.826039,POINT (-73.826039 40.677251)
16,283858212,2024-03-16,105.0,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,K,67,0,25-44,M,BLACK,1006717,179788,40.660127,-73.919019,POINT (-73.919019 40.660127)
17,280111645,2024-01-07,168.0,SODOMY 1,116.0,SEX CRIMES,PL 1305002,F,Q,109,0,45-64,M,BLACK,1032051,217053,40.762316,-73.827448,POINT (-73.8274480018593 40.7623158004241)
19,281256245,2024-01-28,339.0,"LARCENY,PETIT FROM OPEN AREAS,",341.0,PETIT LARCENY,PL 1552500,M,B,40,0,25-44,M,WHITE,1007667,237199,40.817703,-73.915395,POINT (-73.915395 40.817703)
20,281438374,2024-01-31,263.0,"ARSON 2,3,4",114.0,ARSON,PL 1500501,F,K,69,0,25-44,M,BLACK,1010576,175628,40.648698,-73.905128,POINT (-73.905128 40.648698)
21,281444541,2024-01-31,263.0,"ARSON 2,3,4",114.0,ARSON,PL 1500501,F,B,41,0,25-44,M,BLACK,1015842,236510,40.815786,-73.885865,POINT (-73.885865 40.815786)

In [48]:
#rename LAW_CAT_CD to OFFENSE
#df['LAW_CAT_CD'].rename_axis('OFFENSE', inplace=True)

In [40]:
df.isnull().sum()

### We'll just drop the nan since the max NaNs is 1109 (max being sum of all nan which is 1,141) -- which is less than 1% of the data.

In [39]:
# drop Nan values from the dataset
df.dropna(inplace=True)
df.isnull().sum()

In [31]:
for col in df.columns:
    print(col, ":", df[col].nunique(), ":", df[col].dtype)

# maybe do season based analysis
# drop PD_DESC, OFNS_DESC
# encode ARREST_BORO
# dropping null values did change the unique values of some columns a lot so might play into factor later

ARREST_KEY : 194312 : int64
ARREST_DATE : 274 : datetime64[ns]
PD_CD : 251 : float64
PD_DESC : 243 : object
KY_CD : 68 : float64
OFNS_DESC : 57 : object
LAW_CODE : 1036 : object
LAW_CAT_CD : 5 : object
ARREST_BORO : 5 : object
ARREST_PRECINCT : 77 : int64
JURISDICTION_CODE : 25 : int64
AGE_GROUP : 5 : object
PERP_SEX : 2 : object
PERP_RACE : 7 : object
X_COORD_CD : 27757 : int64
Y_COORD_CD : 29401 : int64
Latitude : 33710 : float64
Longitude : 33740 : float64
New Georeferenced Column : 34537 : object

In [38]:
# get count of 0,1,2 from jurisdiction code
df['JURISDICTION_CODE'].value_counts()
# Jurisdiction responsible for arrest. Jurisdiction codes 
# 0(Patrol), 1(Transit) and 2(Housing) represent NYPD whilst 
# codes 3 and more represent non NYPD jurisdictions

In [36]:
sum_012 = int(df['JURISDICTION_CODE'].value_counts().loc[[0,1,2]].sum())
print(sum_012)

ratio = sum_012/df.shape[0]
print(ratio)

# maybe drop non NYPD jurisdiction codes?

189161
0.9734910865000618

In [8]:
df['PD_DESC'].value_counts()

PD_DESC
ASSAULT 3                         21266
LARCENY,PETIT FROM OPEN AREAS,    19904
ASSAULT 2,1,UNCLASSIFIED          11902
TRAFFIC,UNCLASSIFIED MISDEMEAN     9740
ROBBERY,OPEN AREA UNCLASSIFIED     9110
                                  ...
ALCOHOLIC BEVERAGE CONTROL            1
STALKING COMMIT SEX OFFENSE           1
NYC UNCLASSIFIED WARRANT              1
SALE SCHOOL GROUNDS 4                 1
SOLICITATION 3,2,1, CRIMINAL          1
Name: count, Length: 252, dtype: int64

In [14]:
df['LAW_CODE'].value_counts()

LAW_CODE
PL 1200001    20812
PL 1552500    19904
PL 1651503     8118
VTL0511001     6483
PL 215510B     6386
              ...
PL 1654506        1
PL 1707500        1
VTL030600B        1
PL 130851A        1
PL 2404501        1
Name: count, Length: 1049, dtype: int64

In [ ]:
df['AGE_GROUP'].value_counts()

:

In [5]:
# will probably one hot encode the neighborhood column
# feature analysis in the README file