# <b> Exploratory Data Analysis of the NYPD Data Set

In [1]:
print("hellow")

hellow

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv('/Users/annahauk/Desktop/CS513/NYPD_Arrest_Data__Year_to_Date__20241023.csv')
df

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
0,281240883,01/28/2024,105.0,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,Q,105,0,25-44,M,WHITE,1057545,207911,40.737043,-73.735514,POINT (-73.735514 40.737043)
1,282884120,02/27/2024,263.0,"ARSON 2,3,4",114.0,ARSON,PL 1501001,F,Q,107,71,45-64,M,WHITE,1037489,206343,40.732881,-73.807899,POINT (-73.807899 40.732881)
2,283137868,03/03/2024,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200502,F,B,48,0,25-44,M,BLACK,1013900,250835,40.855109,-73.892818,POINT (-73.892818 40.855109)
3,287001362,05/16/2024,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1200512,F,S,121,0,25-44,M,WHITE,938928,168468,40.628967,-74.163275,POINT (-74.163275 40.628967)
4,287829614,06/02/2024,105.0,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,Q,100,0,25-44,M,BLACK,1039777,155013,40.591980,-73.800066,POINT (-73.800066 40.59198)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195442,293968561,09/27/2024,339.0,"LARCENY,PETIT FROM OPEN AREAS,",341.0,PETIT LARCENY,PL 1552500,M,Q,109,0,18-24,M,WHITE HISPANIC,1030206,215367,40.757691,-73.834115,POINT (-73.834115 40.757691)
195443,292591949,09/01/2024,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,M,34,0,25-44,M,WHITE HISPANIC,1004094,251444,40.856808,-73.928265,POINT (-73.92826482905474 40.85680819814297)
195444,294028627,09/29/2024,244.0,"BURGLARY,UNCLASSIFIED,UNKNOWN",107.0,BURGLARY,PL 1402501,F,M,23,0,45-64,M,WHITE,1000141,225685,40.786116,-73.942614,POINT (-73.942614 40.786116)
195445,292933189,09/08/2024,478.0,"THEFT OF SERVICES, UNCLASSIFIE",343.0,OTHER OFFENSES RELATED TO THEFT,PL 1651503,M,B,44,1,25-44,M,BLACK,1004749,240880,40.827812,-73.925929,POINT (-73.92592932593037 40.82781161940969)
195446,293706408,09/22/2024,792.0,CRIMINAL POSSESSION WEAPON,118.0,DANGEROUS WEAPONS,PL 265031B,F,B,46,0,18-24,M,BLACK HISPANIC,1011399,250642,40.854588,-73.901861,POINT (-73.90186084855698 40.85458750745756)

In [4]:
df.shape

(195447, 19)

In [3]:
df.dtypes

ARREST_KEY                    int64
ARREST_DATE                  object
PD_CD                       float64
PD_DESC                      object
KY_CD                       float64
OFNS_DESC                    object
LAW_CODE                     object
LAW_CAT_CD                   object
ARREST_BORO                  object
ARREST_PRECINCT               int64
JURISDICTION_CODE             int64
AGE_GROUP                    object
PERP_SEX                     object
PERP_RACE                    object
X_COORD_CD                    int64
Y_COORD_CD                    int64
Latitude                    float64
Longitude                   float64
New Georeferenced Column     object
dtype: object

In [6]:
# unique values in each column
df.nunique()

ARREST_KEY                  195447
ARREST_DATE                    274
PD_CD                          262
PD_DESC                        252
KY_CD                           69
OFNS_DESC                       59
LAW_CODE                      1049
LAW_CAT_CD                       6
ARREST_BORO                      5
ARREST_PRECINCT                 77
JURISDICTION_CODE               25
AGE_GROUP                        5
PERP_SEX                         2
PERP_RACE                        7
X_COORD_CD                   27815
Y_COORD_CD                   29459
Latitude                     33788
Longitude                    33815
New Georeferenced Column     34621
dtype: int64

In [8]:
df['PD_DESC'].value_counts()

PD_DESC
ASSAULT 3                         21266
LARCENY,PETIT FROM OPEN AREAS,    19904
ASSAULT 2,1,UNCLASSIFIED          11902
TRAFFIC,UNCLASSIFIED MISDEMEAN     9740
ROBBERY,OPEN AREA UNCLASSIFIED     9110
                                  ...
ALCOHOLIC BEVERAGE CONTROL            1
STALKING COMMIT SEX OFFENSE           1
NYC UNCLASSIFIED WARRANT              1
SALE SCHOOL GROUNDS 4                 1
SOLICITATION 3,2,1, CRIMINAL          1
Name: count, Length: 252, dtype: int64

In [14]:
df['LAW_CODE'].value_counts()

LAW_CODE
PL 1200001    20812
PL 1552500    19904
PL 1651503     8118
VTL0511001     6483
PL 215510B     6386
              ...
PL 1654506        1
PL 1707500        1
VTL030600B        1
PL 130851A        1
PL 2404501        1
Name: count, Length: 1049, dtype: int64

In [ ]:
df['AGE_GROUP'].value_counts()

:

In [5]:
# will probably one hot encode the neighborhood column
# feature analysis in the README file