# <b> KNN Model

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import os

df = pd.read_csv(os.path.join('NYPD_Arrest_Data_Clean.csv'))
df2 = pd.read_csv(os.path.join('NYPD_Arrest_Data_Clean_Demographics.csv'))

In [3]:
df

        OFNS_DESC  OFFENSE_LEVEL  ...  QUEENS  STATEN_ISLAND
0              17              0  ...    True          False
1               4              0  ...    True          False
2              17              0  ...   False          False
3              17              0  ...   False           True
4              17              0  ...    True          False
...           ...            ...  ...     ...            ...
193605         47              1  ...    True          False
193606          5              1  ...   False          False
193607          7              0  ...   False          False
193608         43              1  ...   False          False
193609         13              0  ...   False          False

[193610 rows x 16 columns]

In [4]:
df2

        OFNS_DESC  OFFENSE_LEVEL  ...  PERP_RACE_WHITE  PERP_RACE_WHITE HISPANIC
0              17              0  ...             True                     False
1               4              0  ...             True                     False
2              17              0  ...            False                     False
3              17              0  ...             True                     False
4              17              0  ...            False                     False
...           ...            ...  ...              ...                       ...
193605         47              1  ...            False                      True
193606          5              1  ...            False                      True
193607          7              0  ...             True                     False
193608         43              1  ...            False                     False
193609         13              0  ...            False                     False

[193610 rows x 30 columns]

In [10]:
from sklearn.model_selection import train_test_split

X = df.drop(columns='OFFENSE_LEVEL')
y = df['OFFENSE_LEVEL']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1234)

X2 = df2.drop(columns='OFFENSE_LEVEL')
y2 = df2['OFFENSE_LEVEL']

X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.3, random_state=1234)

# <b> KNN for Data without Demographics

In [12]:
# KNN model
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)

# Predictions
y_pred = knn.predict(X_test)

# Accuracy
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, y_pred)

print(f'Accuracy: {accuracy}')

Accuracy: 0.9134858736635504

# <b> KNN for Data with Demographics

In [13]:
knn2 = KNeighborsClassifier(n_neighbors=3)
knn2.fit(X_train2, y_train2)
y_pred2 = knn2.predict(X_test2)
accuracy2 = accuracy_score(y_test2, y_pred2)

print(f'Accuracy with Demographics: {accuracy2}')

Accuracy with Demographics: 0.9025360260317132

# <b> Hyperparameter Tuning

In [15]:
# grid search for KNN model
from sklearn.model_selection import GridSearchCV

knn = KNeighborsClassifier()
param_grid = {'n_neighbors': [1, 3, 5, 7, 9, 11, 13, 15], 'weights': ['uniform', 'distance'], 'metric': ['euclidean', 'manhattan']}
knn_gscv = GridSearchCV(knn, param_grid, cv=5)
knn_gscv.fit(X_train, y_train)

knn_gscv.best_params_

knn_gscv.best_score_

print(f'Best KNN Model: {knn_gscv.best_params_}')

Best KNN Model: {'metric': 'manhattan', 'n_neighbors': 7, 'weights': 'distance'}

In [16]:
# grid search for KNN model
from sklearn.model_selection import GridSearchCV

knn = KNeighborsClassifier()
param_grid = {'n_neighbors': [1, 3, 5, 7, 9, 11, 13, 15], 'weights': ['uniform', 'distance'], 'metric': ['euclidean', 'manhattan']}
knn_gscv = GridSearchCV(knn, param_grid, cv=5)
knn_gscv.fit(X_train, y_train)

knn_gscv.best_params_

knn_gscv.best_score_

print(f'Best KNN Model: {knn_gscv.best_params_}')

Best KNN Model: {'metric': 'manhattan', 'n_neighbors': 7, 'weights': 'distance'}

# <b> Analysis, Accuracy, and Metrics